::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.custom-tab-left {
    background: transparent !important;
    color: black !important;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 2px solid black !important;
    border-radius: 0px !important;
}

.custom-tab-left.active {
    color: white !important;
    border-left: 2px solid white !important;
}
.custom-tab-bottom {
    background: transparent !important;
    color: black !important;
    border-top: 0;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black !important;
    border-radius: 0px !important;
}

.custom-tab-bottom.active {
    background: transparent !important;
    color: white !important;
    border-bottom: 2px solid white !important;
    border-radius: 0px !important;
}